coverage/
node_modules/
*.log
*.d.ts.map
*.d.ts
.DS_Store
yarn.lock
/packages/micromark/lib/
/packages/micromark/index.js
/packages/micromark/stream.js
/packages/micromark-core-commonmark/lib/
/packages/micromark-core-commonmark/index.js
/packages/micromark-factory-destination/index.js
/packages/micromark-factory-label/index.js
/packages/micromark-factory-space/index.js
/packages/micromark-factory-title/index.js
/packages/micromark-factory-whitespace/index.js
/packages/micromark-util-character/index.js
/packages/micromark-util-chunked/index.js
/packages/micromark-util-classify-character/index.js
/packages/micromark-util-decode-numeric-character-reference/index.js
/packages/micromark-util-decode-string/index.js
/packages/micromark-util-normalize-identifier/index.js
/packages/micromark-util-sanitize-uri/index.js
/packages/micromark-util-subtokenize/lib/
/packages/micromark-util-subtokenize/index.js
/test/fixtures/
/test/fuzz-bundle.cjs
/micromark.min.js
!/packages/micromark-util-types/index.d.ts
